language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - python -m spacy download en
  - pip install .
# command to run tests
script: pytest